@import "config";

.demonstration {

  width: 100%;
  height: 100%;
  
  #cover {

    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    .img-wrapper {

      &::before {

        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);

      }

      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;

      img {

        width: 100%;
        height: auto;

      }

    }

    .cover-words-wrapper{

      width: 100%;
      height: 100%;
      text-shadow: 0px 0px 24px black;

      .cover-words {

        width: 100%;
        height: 100%;
        padding: 0 18%;
        color: $light-gray;
        letter-spacing: 2px;

        .cover-title {

          position: relative;
          text-align: center;
          width: 100%;
          white-space: nowrap;

          h1 {

            font-size: 36px;
            font-weight: 200;
            padding: 0;
            margin: 0;
            display: inline-block;

            @media (max-width: $tablet){

              display: block;

            }

          }

          h2 {

            padding: 0;
            margin: 0;
            font-size: 36px;
            font-weight: 200;
            display: inline-block;

            &::before {

              content: "・";

            }

            @media (max-width: $tablet){

              font-size: 26px;
              display: block;

              &::before {

                content: "";

              }
            }

          }

        }

        .cover-description {

          position: relative;
          width: 100%;

          p {

            font-size: 18px;
            text-align: left;

          }

        }
      }
    }
  }

  .row {

    position: relative;
    height: 100%;

    .half, .full {

      // apply color
      @for $i from 1 to length($color-set)+1 {

        &[color="#{$i}"] {
          color: $dark-gray;
          background: $almost-light-gray;
          .title{
            color: nth($color-set, $i);
          }
        }
        &.invert[color="#{$i}"] {
          color: $light-gray;
          background: nth($color-set, $i);
          .title{
            color: $light-gray;
          }
        }
      }

    }

    .half {

      width: 50%;
      height: 100%;
      float: left;

      .words-wrapper{

        width: 100%;
        height: 60%;

        .words {

          width: 100%;
          height: 100%;
          padding: 0 18%;

          .title {

            font-size: 24px;
            text-align: center;

            h2 {

              font-weight: 200;

            }

          }
          .description {

            font-size: 16px;

          }
        }
      }
    }

    .full {

      width: 100%;
      height: 100%;

      .words-wrapper{

        width: 100%;
        height: 60%;

        .words {

          width: 100%;
          height: 100%;
          padding: 0 18%;

          .title {

            font-size: 24px;
            text-align: center;

            h2 {

              font-weight: 200;

            }

          }
          .description {

            font-size: 16px;

          }
        }
      }
    }
  }
}