@import "config";

/*------- landing -------*/

#landing {

  width: 100%;
  height: 100%;
  position: relative;

  #landing-cover {

    width: 100%;
    height: 100%;

    .img-wrapper {

      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      @include browser-prefix("background-size", "cover");
    }

    .cover-titles {

      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 0;
      text-align: right;
      height: 50%;
      min-height: 160px;
      
      
      h1, h2 {

        opacity: 0.8;
        float: right;
        background: $light-gray;
        color: $dark-gray;
        padding: 20px 40px;
        margin: 20px 0;

      }

      // animation

      @include keyframes(cover-title-slide-left) {
        0% { 
          visibility: visible;
          @include browser-prefix(transform, translate(100%, 0)); 
        }
        100% { 
          visibility: visible;
          @include browser-prefix(transform, translate(0, 0)); 
        }
      }
      h1 {

        &.cover-title-slide-left {

          visibility: hidden;
          @include animation('cover-title-slide-left 0.6s ease-out 0.2s 1 normal forwards');

        }
      }

      h2 {

        visibility: hidden;
        @include animation('cover-title-slide-left 0.4s ease-out 0.4s 1 normal forwards');

      }
    }
  }

  #bricks {

    position: relative;
    height: 100%;
    width: 94%;
    left: 3%;

    @media (max-width: $tablet) {
      width: 100%;
      left: 0;
    }
    @media (max-width: $phone) {
      width: 100%;
      left: 0;
    }
    @media (min-width: $laptop) {
      width: 1504px;
      position: static;
      margin: 0 auto;
      left: 0;
    }

    .brick {

      position: relative;
      float: left;
      width: 33.33%;
      height: 266px;
      overflow: hidden;
      text-align: center;

      &.high-brick {

        height: 532px;

      }

      &[ui-sref]{
        cursor: pointer;
      }

      .img-wrapper {

        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        @include browser-prefix("background-size", "cover");

        // background-size: cover;
        &[background] {

          opacity: 0.15;
          position: absolute;
          left: 0;
          top: 0;

        }
        // img {

        //   max-width: 100%;  
        //   max-height: 100%;  
          
        // }
      }

      // apply colors
      @for $i from 1 to length($color-set)+1 {
        &[color="#{$i}"] {
          color: $dark-gray;
          background: $almost-light-gray;
          .title{
            color: nth($color-set, $i);
          }
          [class$="words-wrapper"] {
            background: $almost-light-gray;
          }
          &.exceed {

            box-shadow: 0px 0px 0 20px rgba($almost-light-gray, 0.9);
            @include browser-prefix(transition, all 0.1s linear);
            z-index: 1;

          }
        }
        &.invert[color="#{$i}"] {
          color: $light-gray;
          background: nth($color-set, $i);
          .title{
            color: $light-gray;
          }
          [class$="words-wrapper"] {
            background: nth($color-set, $i);
          }
          &.exceed {

            box-shadow: 0px 0px 0 20px rgba(nth($color-set, $i), 0.9);
            @include browser-prefix(transition, all 0.1s linear);
            z-index: 1;
          }
        }
      }

      .title {

        width: 100%;
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 24px;

        h2 {
          margin: 0;
        }
      }

      .description {

        padding: 0 15% 20px 15%;
        text-align: justify;
        font-size: 18px;

      }

      .fb-like-box {

        width: 100%;
        
      }

      @media (max-width: $tablet) {

        width: 50%;

      }

      @media (max-width: $phone) {

        width: 100%;

      }

    }

    #footer {

      margin-left: -3.19%;
      width: 106.38%;

      div {

        padding: 14px 0;

      }
      @media (max-width: $tablet) {
        width: 100%;
        margin-left: 0;
      }
      @media (min-width: $laptop) {
        position: absolute;
        left: 0;
        width: 100%;
        margin: 0;
      }
    }

  }
}

// landing words display

.overlay-words-wrapper {

  width: 100%;
  height: 100%;

  .overlay-words {

    width: 100%;

    > * {

      width: 100%;

    }
  }
}

.hidden-words-wrapper {

  display: table;
  width: 100%;
  height: 41%;
  position: absolute;
  left: 0;

  .hidden-words {

    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 15%;
    text-align: justify;
    font-size: 18px;

  }
}

[slide-down] .hidden-words-wrapper {
  top: 0;
}
[slide-up] .hidden-words-wrapper {
  bottom: 0;
}

.split-words-wrapper {

  display: table;
  width: 101%;
  height: 41%;

  .img-wrapper~& {

    position: absolute;
    top: 60%;
    left: 0;

  }

  .split-words {

    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 15px 15%;
    text-align: justify;
    font-size: 18px;

  }
}