@import "config";

/*------- product -------*/

.product-view {

  position: relative;
  z-index: 1200;
  background: $light-gray;
  height: 100%;
  box-sizing: content-box;
  color: $semi-dark-gray;

  >* {

    background: $light-gray;
    width: 100%;

  }

  #toolbox-top {

    height: 70px;
    position: absolute;
    top: 0;

    .close {

      float: right;
      width: 70px;
      height: 70px;
      line-height: 70px;
      position: relative;

      &::before, &::after {

        content: "";
        position: absolute;
        top: 28px;
        width: 12px;
        height: 12px;
        border-top: 2px solid $semi-dark-gray;
        border-right: 2px solid $semi-dark-gray;

      }
      &::before {
        @include browser-prefix(transform, rotate(45deg));
        left: 20px;
      }
      &::after {
        @include browser-prefix(transform, rotate(-135deg));
        left: 37px;
      }

      text-align: center;
      cursor: pointer;

    }

    .menu {

      width: 73px;
      height: 72px;
      float: left;
      cursor: pointer;

      .middle-bar {

        position: relative;
        width: 23px;
        height: 2px;
        margin: 35px 25px;
        background: $semi-dark-gray;

        &::before, &::after {

          content: "";
          width: 23px;
          height: 2px;
          background: $semi-dark-gray;
          position: absolute;
          left: 0;
          @include browser-prefix(transition, 0.1s all ease-in-out);

        }

        &::before{

          top: -7px;

        }

        &::after {

          top: 7px;

        }

      }

      &:hover {

        .middle-bar {

          &::before {

            top: -9px;
            left: 1px;

          }

          &::after {

            top: 9px;
            left: -1px;

          }
        }
      }
    }
  }

  #info {

    height: 100%;
    position: relative;
    padding: 0 3% 3%;
    text-align: center;
    font-size: 0;
    overflow: auto;

    >* {

      display: inline-block;
      vertical-align: middle;
      padding: 70px 0 0 0;

    }

    .description {

      width: 40%;
      height: 100%;
      padding-left: 50px;
      color: $semi-dark-gray;
      position: absolute;
      // right: 18%;
      left: 0;
      right: 0;
      margin: 0 auto;
      
      p {

        text-align: left;
        font-size: 16px;
        padding: 10px 0 5px 0;
        margin: 0;

        &.product-title {
          text-align: center;
          font-size: 24px;
          padding: 30px 0 10px 0;
          color: $red;
          letter-spacing: 2px;
        }
        &.product-origin {
          line-height: 1.7em;
        }
        &.product-subtitle, &.product-origin-title {
          padding-top: 20px;
          color: $red;
          text-align: center;
          border-bottom: 1px solid $semi-dark-gray;
        }

      }

    }

    .img-wrapper {

      width: 34%;
      text-align: center;
      position: fixed;
      top: 0;
      left: 8%;
      
      img {

        max-height: 100%;
        max-width: 100%;

      }
    }

  }

  #toolbox-bottom {

    height: 80px;
    position: absolute;
    bottom: 0;

  }

  .product-navbar {

    width: 200px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: $dark-gray;
    @include browser-prefix(transform, translate(0, 0));
    @include browser-prefix(transition, all 0.3s ease);

    &.ng-hide {

      @include browser-prefix(transform, translate(-200px, 0));

    }

    .hide-nav {

      color: $light-gray;
      cursor: pointer;
      font-size: 18px;
      padding: 20px 30px 40px 30px;
      text-align: right;

      &::before {

        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        border-left: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        @include browser-prefix(transform, rotate(45deg));

      }

    }

    ul {

      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;      

      li {

        a {

          color: $light-gray;
          display: block;
          padding: 10px 0;
          font-size: 16px;
          letter-spacing: 1px;

        }
      }
    }
  }
}

