/*------- gallery -------*/
.gallery {
  width: 100%;
  height: 100%;
  background: #eee; }
  .gallery .gallery-cover {
    height: 80%;
    min-height: 360px; }
    .gallery .gallery-cover .instruction div {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .gallery .gallery-cover .instruction div.selected {
        background: #a80d10; }
  .gallery #products {
    width: 100%;
    background: #eee; }
    .gallery #products .product {
      position: relative;
      width: 33.333%;
      padding: 2% 0;
      overflow: hidden;
      float: left;
      cursor: pointer;
      z-index: 100;
      text-align: center;
      background: #eee;
      color: #333;
      box-shadow: 1px 0 0 0 #eee; }
      @media (max-width: 740px) {
        .gallery #products .product[index="1"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="1"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="1"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="1"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="2"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="2"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="2"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="2"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="3"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="3"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="3"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="3"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="3"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="3"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="3"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="3"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="3"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="3"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="3"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="3"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="4"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="4"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="4"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="4"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="5"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="5"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="5"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="5"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="5"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="5"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="5"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="5"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="6"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="6"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="6"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="6"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="7"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="7"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="7"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="7"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="7"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="7"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="7"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="7"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="9"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="9"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="9"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="9"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="9"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="9"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="9"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="9"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="10"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="10"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="10"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="10"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="10"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="10"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="10"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="10"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="11"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="11"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="11"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="11"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="11"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="11"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="11"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="11"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="11"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="11"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="11"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="11"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="13"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="13"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="13"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="13"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="14"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="14"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="14"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="14"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="15"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="15"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="15"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="15"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="15"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="15"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="15"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="15"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="15"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="15"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="15"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="15"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="16"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="16"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="16"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="16"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (min-width: 1040px) {
        .gallery #products .product[index="17"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="17"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="17"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="17"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="17"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="17"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="17"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="17"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="18"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="18"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="18"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="18"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) and (min-width: 740px) {
        .gallery #products .product[index="19"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="19"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="19"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="19"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 740px) {
        .gallery #products .product[index="19"] {
          color: #f9f9f9;
          background: #333;
          box-shadow: 1px 0 0 0 #333; }
          .gallery #products .product[index="19"] .words-wrapper .words .title {
            color: #f9f9f9; }
          .gallery #products .product[index="19"] .words-wrapper .words .detail p.description {
            border-top: 1px solid #f9f9f9; }
          .gallery #products .product[index="19"] .img-wrapper {
            border: 4px solid #f9f9f9; } }
      @media (max-width: 1040px) {
        .gallery #products .product {
          width: 50%; } }
      @media (max-width: 740px) {
        .gallery #products .product {
          width: 100%;
          padding: 4% 0; } }
      .gallery #products .product .img-wrapper {
        width: 60%;
        padding: 30% 0;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border-radius: 1000px;
        border: 4px solid #ccc; }
        .gallery #products .product .img-wrapper img {
          width: 120%;
          min-height: 100%;
          position: absolute;
          top: -9999px;
          bottom: -9999px;
          left: -9999px;
          right: -9999px;
          margin: auto; }
      .gallery #products .product .words-wrapper {
        width: 100%; }
        .gallery #products .product .words-wrapper .words .title {
          color: #a80d10; }
          .gallery #products .product .words-wrapper .words .title h2 {
            font-size: 24px;
            font-weight: 200;
            margin: 10px 0 6px 0; }
        .gallery #products .product .words-wrapper .words .detail {
          width: 100%;
          padding: 0 15%; }
          .gallery #products .product .words-wrapper .words .detail p {
            font-size: 15px;
            line-height: 1.4em;
            padding: 4px 0;
            margin: 0; }
          .gallery #products .product .words-wrapper .words .detail p.subtitle {
            font-size: 18px; }
          .gallery #products .product .words-wrapper .words .detail p.description {
            padding: 10px 0 0 0;
            margin: 10px 0 0 0;
            height: 100px;
            text-align: left;
            line-height: 1.7em;
            border-top: 1px solid #333; }
          .gallery #products .product .words-wrapper .words .detail p.price {
            font-size: 16px; }
      .gallery #products .product .full-display {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0s 0.6s, opacity 0.6s ease;
        -ms-transition: visibility 0s 0.6s, opacity 0.6s ease;
        -moz-transition: visibility 0s 0.6s, opacity 0.6s ease;
        -o-transition: visibility 0s 0.6s, opacity 0.6s ease;
        transition: visibility 0s 0.6s, opacity 0.6s ease; }
        .gallery #products .product .full-display .img-wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 0;
          border: none;
          background-position: center center;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          -ms-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        .gallery #products .product .full-display .words-wrapper {
          color: #f9f9f9;
          position: absolute;
          display: table;
          width: 100%;
          height: 100%;
          text-shadow: 0px 0px 12px black; }
          .gallery #products .product .full-display .words-wrapper .words {
            display: table-cell;
            vertical-align: middle; }
            .gallery #products .product .full-display .words-wrapper .words .title {
              color: #f9f9f9; }
            .gallery #products .product .full-display .words-wrapper .words .detail {
              padding: 20px 15%;
              border-top: 1px solid #f9f9f9; }
              .gallery #products .product .full-display .words-wrapper .words .detail p.description {
                border: none;
                margin: 0; }
      .gallery #products .product:hover .full-display {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity ease 0.6s;
        -ms-transition: opacity ease 0.6s;
        -moz-transition: opacity ease 0.6s;
        -o-transition: opacity ease 0.6s;
        transition: opacity ease 0.6s; }
  .gallery [ui-view] {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1500;
    visibility: hidden; }
    .gallery [ui-view].ng-enter, .gallery [ui-view].ng-leave {
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .gallery [ui-view].ng-enter {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
    .gallery [ui-view].ng-enter-active {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .gallery [ui-view].ng-leave {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    .gallery [ui-view].ng-leave-active {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
    .gallery [ui-view][show-detail="true"] {
      visibility: visible; }

/*# sourceMappingURL=gallery.css.map */
