/*------- landing -------*/
#landing {
  width: 100%;
  height: 100%;
  position: relative; }
  #landing #landing-cover {
    width: 100%;
    height: 100%; }
    #landing #landing-cover .img-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -ms-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    #landing #landing-cover .cover-titles {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      right: 0;
      text-align: right;
      height: 50%;
      min-height: 160px; }
      #landing #landing-cover .cover-titles h1, #landing #landing-cover .cover-titles h2 {
        opacity: 0.8;
        float: right;
        background: #f9f9f9;
        color: #333;
        padding: 20px 40px;
        margin: 20px 0; }
@-webkit-keyframes cover-title-slide-left {
  0% {
    visibility: visible;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  100% {
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes cover-title-slide-left {
  0% {
    visibility: visible;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  100% {
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-ms-keyframes cover-title-slide-left {
  0% {
    visibility: visible;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  100% {
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-o-keyframes cover-title-slide-left {
  0% {
    visibility: visible;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  100% {
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes cover-title-slide-left {
  0% {
    visibility: visible;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  100% {
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
      #landing #landing-cover .cover-titles h1.cover-title-slide-left {
        visibility: hidden;
        -webkit-animation: cover-title-slide-left 0.6s ease-out 0.2s 1 normal forwards;
        -moz-animation: cover-title-slide-left 0.6s ease-out 0.2s 1 normal forwards;
        -ms-animation: cover-title-slide-left 0.6s ease-out 0.2s 1 normal forwards;
        -o-animation: cover-title-slide-left 0.6s ease-out 0.2s 1 normal forwards;
        animation: cover-title-slide-left 0.6s ease-out 0.2s 1 normal forwards; }
      #landing #landing-cover .cover-titles h2 {
        visibility: hidden;
        -webkit-animation: cover-title-slide-left 0.4s ease-out 0.4s 1 normal forwards;
        -moz-animation: cover-title-slide-left 0.4s ease-out 0.4s 1 normal forwards;
        -ms-animation: cover-title-slide-left 0.4s ease-out 0.4s 1 normal forwards;
        -o-animation: cover-title-slide-left 0.4s ease-out 0.4s 1 normal forwards;
        animation: cover-title-slide-left 0.4s ease-out 0.4s 1 normal forwards; }
  #landing #bricks {
    position: relative;
    height: 100%;
    width: 94%;
    left: 3%; }
    @media (max-width: 1040px) {
      #landing #bricks {
        width: 100%;
        left: 0; } }
    @media (max-width: 740px) {
      #landing #bricks {
        width: 100%;
        left: 0; } }
    @media (min-width: 1600px) {
      #landing #bricks {
        width: 1504px;
        position: static;
        margin: 0 auto;
        left: 0; } }
    #landing #bricks .brick {
      position: relative;
      float: left;
      width: 33.33%;
      height: 266px;
      overflow: hidden;
      text-align: center; }
      #landing #bricks .brick.high-brick {
        height: 532px; }
      #landing #bricks .brick[ui-sref] {
        cursor: pointer; }
      #landing #bricks .brick .img-wrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -ms-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; }
        #landing #bricks .brick .img-wrapper[background] {
          opacity: 0.15;
          position: absolute;
          left: 0;
          top: 0; }
      #landing #bricks .brick[color="1"] {
        color: #333;
        background: #eee; }
        #landing #bricks .brick[color="1"] .title {
          color: #a80d10; }
        #landing #bricks .brick[color="1"] [class$="words-wrapper"] {
          background: #eee; }
        #landing #bricks .brick[color="1"].exceed {
          box-shadow: 0px 0px 0 20px rgba(238, 238, 238, 0.9);
          -webkit-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
          z-index: 1; }
      #landing #bricks .brick.invert[color="1"] {
        color: #f9f9f9;
        background: #a80d10; }
        #landing #bricks .brick.invert[color="1"] .title {
          color: #f9f9f9; }
        #landing #bricks .brick.invert[color="1"] [class$="words-wrapper"] {
          background: #a80d10; }
        #landing #bricks .brick.invert[color="1"].exceed {
          box-shadow: 0px 0px 0 20px rgba(168, 13, 16, 0.9);
          -webkit-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
          z-index: 1; }
      #landing #bricks .brick[color="2"] {
        color: #333;
        background: #eee; }
        #landing #bricks .brick[color="2"] .title {
          color: #047a7c; }
        #landing #bricks .brick[color="2"] [class$="words-wrapper"] {
          background: #eee; }
        #landing #bricks .brick[color="2"].exceed {
          box-shadow: 0px 0px 0 20px rgba(238, 238, 238, 0.9);
          -webkit-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
          z-index: 1; }
      #landing #bricks .brick.invert[color="2"] {
        color: #f9f9f9;
        background: #047a7c; }
        #landing #bricks .brick.invert[color="2"] .title {
          color: #f9f9f9; }
        #landing #bricks .brick.invert[color="2"] [class$="words-wrapper"] {
          background: #047a7c; }
        #landing #bricks .brick.invert[color="2"].exceed {
          box-shadow: 0px 0px 0 20px rgba(4, 122, 124, 0.9);
          -webkit-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
          z-index: 1; }
      #landing #bricks .brick[color="3"] {
        color: #333;
        background: #eee; }
        #landing #bricks .brick[color="3"] .title {
          color: #faa719; }
        #landing #bricks .brick[color="3"] [class$="words-wrapper"] {
          background: #eee; }
        #landing #bricks .brick[color="3"].exceed {
          box-shadow: 0px 0px 0 20px rgba(238, 238, 238, 0.9);
          -webkit-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
          z-index: 1; }
      #landing #bricks .brick.invert[color="3"] {
        color: #f9f9f9;
        background: #faa719; }
        #landing #bricks .brick.invert[color="3"] .title {
          color: #f9f9f9; }
        #landing #bricks .brick.invert[color="3"] [class$="words-wrapper"] {
          background: #faa719; }
        #landing #bricks .brick.invert[color="3"].exceed {
          box-shadow: 0px 0px 0 20px rgba(250, 167, 25, 0.9);
          -webkit-transition: all 0.1s linear;
          -ms-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;
          transition: all 0.1s linear;
          z-index: 1; }
      #landing #bricks .brick .title {
        width: 100%;
        padding: 30px 0 0 0;
        text-align: center;
        font-size: 24px; }
        #landing #bricks .brick .title h2 {
          margin: 0; }
      #landing #bricks .brick .description {
        padding: 0 15% 20px 15%;
        text-align: justify;
        font-size: 18px; }
      #landing #bricks .brick .fb-like-box {
        width: 100%; }
      @media (max-width: 1040px) {
        #landing #bricks .brick {
          width: 50%; } }
      @media (max-width: 740px) {
        #landing #bricks .brick {
          width: 100%; } }
    #landing #bricks #footer {
      margin-left: -3.19%;
      width: 106.38%; }
      #landing #bricks #footer div {
        padding: 14px 0; }
      @media (max-width: 1040px) {
        #landing #bricks #footer {
          width: 100%;
          margin-left: 0; } }
      @media (min-width: 1600px) {
        #landing #bricks #footer {
          position: absolute;
          left: 0;
          width: 100%;
          margin: 0; } }

.overlay-words-wrapper {
  width: 100%;
  height: 100%; }
  .overlay-words-wrapper .overlay-words {
    width: 100%; }
    .overlay-words-wrapper .overlay-words > * {
      width: 100%; }

.hidden-words-wrapper {
  display: table;
  width: 100%;
  height: 41%;
  position: absolute;
  left: 0; }
  .hidden-words-wrapper .hidden-words {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 15%;
    text-align: justify;
    font-size: 18px; }

[slide-down] .hidden-words-wrapper {
  top: 0; }

[slide-up] .hidden-words-wrapper {
  bottom: 0; }

.split-words-wrapper {
  display: table;
  width: 101%;
  height: 41%; }
  .img-wrapper ~ .split-words-wrapper {
    position: absolute;
    top: 60%;
    left: 0; }
  .split-words-wrapper .split-words {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 15px 15%;
    text-align: justify;
    font-size: 18px; }

/*# sourceMappingURL=landing.css.map */
