body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*------- navbar -------*/

#navbar {

  border: none;

}

#navbar .container-fluid {

  padding: 0;

}

#brand, #items {

  width: 50%;
  padding: 10px 0;
  display: inline-block !important;

}

#brand {

  background: #f9f9f9;

}

#items {

  background: #333;

}

li.active {

}

.nav>li>a {

  color: #f9f9f9;
  padding: 15px 1px 10px 1px !important;
  margin: 0 20px 5px 20px;
  line-height: 2em;
  text-decoration: none !important;
  border-bottom: 2px solid transparent;

}

.nav>li.active>a {

  border-bottom: 2px solid #f9f9f9;

}

.nav>li>a:hover, .nav>li>a:focus {

  background-color: transparent !important;
  border-bottom: 2px solid #f9f9f9;

}




