//jQuery
script(src='/components/jquery/dist/jquery.min.js')

// angular
script(src="/components/angular/angular.min.js")
script(src="/components/angular-resource/angular-resource.min.js")
script(src="/components/angular-ui-router/release/angular-ui-router.min.js")
script(src="/components/angular-animate/angular-animate.min.js")
script(src="/js/angular/app.js")
script(src="/js/angular/run.js")
script(src="/js/angular/config.js")
script(src="/js/angular/directives.js")
script(src="/js/angular/resources.js")
script(src="/js/angular/controllers/appCtrl.js")
script(src="/js/angular/controllers/landingCtrl.js")
script(src="/js/angular/controllers/galleryCtrl.js")
script(src="/js/angular/controllers/productCtrl.js")

// ezfb
script(src="/components/angular-easyfb/angular-easyfb.min.js")

