<div class="demonstration" id="about">
  <div class="row">
    <div class="full invert" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>「天開藏聆」是什麼意思？</h2>
          </div>
          <!-- <div class="description">
            <p>我們希望呈現清末日治時期的商人，如何面對種種環境條件，辛勤踏實工作。並將生活的韻味，絲絲線線縫入所有人心中。</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="half" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>天開</h2>
          </div>
          <div class="description">
            <p>「天開」，表示天地已開闢了道路，我們不必為眼前條件限制，反當順隨環境因緣，邁出開闊通達的大道。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>藏聆</h2>
          </div>
          <div class="description">
            <p>「藏聆」，意指安平在地埋藏許多訊息故事，等待我們仔細聆聽。盧經堂厝內的每個建築細節，也蘊涵當時生活風貌，期盼我們探索尋覓。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="full invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>－ 經營理念 －</h2>
          </div>
          <div class="description">
            <p>跟隨著「天開藏聆」的精神，我們希望呈現清末日治時期的商人，如何面對種種環境條件，辛勤踏實工作，並讓生活的韻味，飄入所有人心中。為此，我們經營「定目劇導覽」與「伸春餘」兩大特色，希望透過導覽讓大家親歷日治時期生活，並以優質食材與富文化底蘊的藝術創作，帶領大家回歸純真美好。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="full" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>－ 異想電影 －</h2>
          </div>
          <div class="description">
            <p>異想電影團隊本著對人文關懷的初衷，期望讓台南文化底蘊能在深度和廣度上更加發光發熱。在古拙純樸的建築美學下，引入當代藝術，創造出獨一無二、屬於當地的文化創意。從時空更迭、今昔交錯的安平，為富含人文素養的府城，開啟新視野。<br><br>長遠而言，異想電影期待能一方面一條鞭健全影視文化產業鏈的體質，一方面整合異業相關專長，打破一般在空間、表現、人才、軟硬體上的限制，強化活動聯結性，並尋覓穩定蓄積能量的藝文基地，從而一呼百諾，遍地開花！</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div>
      <p ng-repeat="i in footer_items">{{i}}</p>
    </div>
  </div>
</div>



</div>