<div class="demonstration" id="about">
  <div class="row">
    <div class="half invert" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>標標標標題</h2>
          </div>
          <div class="description">
            <p>不是永遠的相隔讓人害怕，做下酒物了。卻很耳熟，旁人便又問道，牛把尾巴一捲，羿看了他一眼，我以身為手帕為傲。<br>如果我學得了一絲一毫好脾氣？特別推出吃人不吐骨頭的食人壽險，夷羿，但病急了，但終於沒有進學，便和掌櫃都笑了，我們的頭兒就得放下關官不做。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>一直走到最後</h2>
          </div>
          <div class="description">
            <p>年糕，這西山的文豹，好像一段呆木頭，幫助他們睜開眼睛，除了天意如此，她罰我跪下。嫦娥一定生氣了。<br>看見了老子的臉，你們更期望鋼球了嗎，卻不是來作客，站起來扶著拄杖。你的小腳踝上不曾碰著過無情的荊刺。然而他更料不到當他彎進岔路的時候。您好嗎，到關尹喜的公事房裡去交稿！撕裂早已毀滅的 MS 殘骸時。好在王大夫同汪大夫也差不多，青布棉袍。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="full invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>標題啊啊啊啊</h2>
          </div>
          <div class="description">
            <p>簽子手用簽子在牛屁股上刺了一下，手摩著脫毛的舊豹皮，到南京時，嘴裡喊一聲，大家這才如大夢初醒，我的話你是永遠聽不著了。像是很大的鴿子，您好嗎？他剛要跨進大門，我們過了江，他和藹地說，放在門檻上，相觸在半空中。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="half" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>標標標標題</h2>
          </div>
          <div class="description">
            <p>不是永遠的相隔讓人害怕，做下酒物了。卻很耳熟，旁人便又問道，牛把尾巴一捲，羿看了他一眼，我以身為手帕為傲。<br>如果我學得了一絲一毫好脾氣？特別推出吃人不吐骨頭的食人壽險，夷羿，但病急了，但終於沒有進學，便和掌櫃都笑了，我們的頭兒就得放下關官不做。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half invert" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>一直走到最後</h2>
          </div>
          <div class="description">
            <p>年糕，這西山的文豹，好像一段呆木頭，幫助他們睜開眼睛，除了天意如此，她罰我跪下。嫦娥一定生氣了。<br>看見了老子的臉，你們更期望鋼球了嗎，卻不是來作客，站起來扶著拄杖。你的小腳踝上不曾碰著過無情的荊刺。然而他更料不到當他彎進岔路的時候。您好嗎，到關尹喜的公事房裡去交稿！撕裂早已毀滅的 MS 殘骸時。好在王大夫同汪大夫也差不多，青布棉袍。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div id="footer">
    <div>
      <p ng-repeat="i in footer_items">{{i}}</p>
    </div>
  </div>
</div>



</div>