<div class="gallery" id="{{state}}" ng-init="init()">
  <div id="{{state}}-cover" class="gallery-cover cover dark">
    <div class='img-wrapper' style="background-image: url('/images/{{state}}/cover.jpg')">
    </div>
    <div class="cover-words-wrapper center-words-wrapper">
      <div class="cover-words center-words">
        <div class="cover-title">
          <h1 ng-bind="cover.title"></h1>
        </div>
        <div class="cover-description balance">
          <span ng-repeat="d in cover.description">{{d}}<br></span>
          <!-- <p ng-bind="cover.description"></p> -->
        </div>
      </div>
    </div>
    <div class="instruction" stick ng-class="{stick: stick_instruction}">
      <div ng-click="filter('')" ng-class="{selected: type.length==0}">全部</div>
      <div ng-repeat="t in types" ng-click="filter(t.key)" ng-bind="t.name" 
           ng-class="{selected: t.key==type}"></div>
    </div>
  </div>
  <div id="products">
    <div class="product" ng-repeat='p in filtered_products = (products | filter:{type:type})'
      id='{{p.name}}'
      index='{{$index}}'
      ui-sref="{{state}}.product({ name: p.name })">
      <div class="img-wrapper">
        <img ng-src="{{p.url}}" alt="">
      </div>
      <!-- <div class='link' ng-click="shrinkNavbar()" >閱讀設計理念</div> -->
      <div class="words-wrapper">
        <div class="words">
          <div class="title">
            <h2 ng-bind="p.name"></h2>
          </div>
          <div class="detail">
            <!-- <p class="subtitle" ng-bind="p.real_name"></p>
            <p class="price">$ {{p.price}}</p> -->
            <p class="subtitle"><span>{{p.real_name}}</span><span ng-show="p.price>0"> / {{p.price}}元</span></p>
            <p class="description" ng-bind="p.description"></p>
          </div>
        </div>
      </div>
      <div class="full-display">
        <div class="img-wrapper" style="background-image: url({{p.url}})">
        </div>
        <!-- <div class='link' ng-click="shrinkNavbar()" >閱讀設計理念</div> -->
        <div class="words-wrapper">
          <div class="words">
            <div class="title">
              <h2 ng-bind="p.name"></h2>
            </div>
            <div class="detail">
              <p class="subtitle" ng-bind="p.real_name"></p>
              <p class="price">$ {{p.price}}</p>
              <p class="description" ng-bind="p.description"></p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="remaining-space">
      <div id="some-words">
        <a href="#">某句話某句話某句話</a>
      </div>
    </div> -->
    <div class="clear"></div>
  </div>
  <div id="footer">
    <div>
      <p ng-repeat="i in footer_items">{{i}}</p>
    </div>
  </div>
  <div ui-view view-zoom show-detail="{{fix_scroll}}"></div>
  


</div>