<div class="demonstration" id="guide">
  <div id="guide-cover" class='cover dark'>
    <div class='img-wrapper' lazy-bg-image="/images/guide/cover2.jpg"></div>
    <div class="cover-words-wrapper center-words-wrapper">
      <div class="cover-words center-words">
        <div class="cover-title">
          <h1>定目劇導覽</h1>
          <h2>異想盧經堂厝</h2>
          <div class="clear"></div>
        </div>
        <div class="cover-description balance">
          <span>這是一場「真人實境」的體驗，你將穿越時空，<br></span>
          <span>回到日治時代的安平，面對面和盧經堂一家人互動！</span>
        </div>
      </div>
    </div>
    <div class="instruction slide-instruction" stick scroll-to-bricks ng-class="{stick: stick_instruction, revert: revert_instruction}">
      <div icon="icon-circleforward"></div> 
    </div>
  </div>

  <div class="row">
    <div class="full" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>異想盧經堂厝</h2>
          </div>
          <div class="description">
            <p>「異想盧經堂厝」是我們的定目劇導覽主軸——你將會穿越時空，親身經歷古代的生活！<br><br>盧經堂一家人將從「食衣住行育樂」各層面，帶領你回到清領日治時期，認識當時的生活細節。除了讓安平風光再現豐華，更將傳達童叟無欺的為商態度。<br></p>
            <div class="img-wrapper">
              <img src="/images/guide/image4-square.jpg" alt="" lazy-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="full invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>定目劇是什麼？</h2>
          </div>
          <div class="description">
            <p>定目劇就是定點定期的代表性劇目演出，接觸不同時間來的旅客，使故事和訊息不因一時的錯過而失去被聽見的機會。<br><br>可是安平有太多聲音等著被聆聽，因此每隔一段時間，我們便會更換新的劇碼，以嶄新風貌演出不同味道，等待下一次的邂逅相遇。<br><br>這一次的劇碼將介紹清末日治時期的生活細節，由盧經堂一家大小帶領各位穿梭廂房，從「食衣住行育樂」細說他們的生活點滴。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="half invert" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="img-wrapper">
            <img src="/images/guide/食.jpg" alt="" lazy-image>
          </div>
        </div>
      </div>
    </div>
    <div class="half" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>食</h2>
          </div>
          <div class="description">
            <p>​基本上飲食依舊維持清朝時期的習慣食中式菜餚，不過日本的飲食文化也促成臺灣跟進，例如和菓子、味噌湯、生魚片的出現。其中和菓子多以日本傳統的動物、櫻花造型為主。<br><br>值得一提的是，從清朝開始，「辦桌文化」已在有錢人家裡盛行，由客人攜帶食材到主人家裡做調理，此文化在日治時代依舊有存留。另外，鳳山在日治時代初期（1902年）出現了全臺灣第一個鳳梨罐頭工廠。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="half" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>衣</h2>
          </div>
          <div class="description">
            <p>台灣婦女的傳統服飾早期是承襲粵東和閩南地區服飾。日治前期一般的日常衣衫叫做「台灣衫」，形態上主要是在「襟」有不同的變化，分別有對襟衫，大襟衫，琵琶襟等等。晚期襟衫受到西方文化影響，領口變高，袖口縮窄，滾邊使用西洋蕾絲元素。<br><br>日本傳統文化中的和服，當時也出現在台灣。和服屬於奢侈品，皇民化之前少有人穿著，多為日人打扮。但仍是當時台灣服飾風貌的一部分。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half invert" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="img-wrapper">
            <img src="/images/guide/衣.jpg" alt="" lazy-image>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="half invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="img-wrapper">
            <img src="/images/guide/住.jpg" alt="" lazy-image>
          </div>
        </div>
      </div>
    </div>
    <div class="half" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>住</h2>
          </div>
          <div class="description">
            <p>​清末跟日治時代的交接時期，許多生活器具開始有了轉變，日本化與西化風格一併襲來。​清末開始已有仕紳會使用進口的機械鐘錶，也帶來眼鏡、漆藝、牙膏等新事物。<br><br>大體來說，日治初期的生活習慣跟清朝時期雷同，很多中式傳統風格的器具依舊續用。如閩式紅眠床，象徵傳統對於婚姻及家庭的重視。紅眠床垂掛兩條劍帶，其精細刺繡是對婚姻的期待與祝福。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="half" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>行</h2>
          </div>
          <div class="description">
            <p>除了清末原有的轎子、牛馬車之外，到了日治時代多了人力車。日治時代初期，臺灣的道路尚未整治完畢，道路鋪面材質為土砂、砂礫，直到1926年才進行現代化的青鋪路，交通工具多為轎子、牛馬、黃包車等。<br><br>臺南火車站最初建設於1900年五月，稱為「臺南驛」，於1930年改建成為較大型的火車站，二樓的地方設有鐵道旅館。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half invert" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="img-wrapper">
            <img src="/images/guide/行.jpg" alt="" lazy-image>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="half invert" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="img-wrapper">
            <img src="/images/guide/育.jpg" alt="" lazy-image>
          </div>
        </div>
      </div>
    </div>
    <div class="half" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>育</h2>
          </div>
          <div class="description">
            <p>日治時代初期，中式私塾改稱「書房」，屬於基礎教育，教授內容以漢字為主，因為較為實用，大部分的家長比較樂意將孩子送到書房。<br><br>日本當局設立的小學分為三種：小學校、公學校和蕃人公學校。小學校主要供日人子弟就讀，內容主要以高等教育為目標；公學校則是供漢人子弟就讀，內容多半偏重技職訓練；番人公學校則是原住民後代就讀，為日人用來教化原住民的政策之一。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="half" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>樂</h2>
          </div>
          <div class="description">
            <p>​​臺灣的戲曲文化，跟廟宇信仰以及風俗節慶密不可分，也是臺灣人的重要娛樂。一般市井小民會在廟宇觀賞，有錢人家則會請戲班來家裡表演，甚至在自家宅院養一班戲班。<br><br>1930年的皇民化運動，開始限制臺灣的戲曲活動，管控戲曲用的語言、表演方式、劇情內容等。因此，後來歌仔戲的表演節目有意向皇民化運動抗議，喚回臺灣的本土文化。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="img-wrapper">
            <img src="/images/guide/樂.jpg" alt="" lazy-image>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div id="footer">
    <div>
      <p ng-repeat="i in footer_items">{{i}}</p>
    </div>
  </div>
</div>



</div>