<div class="demonstration" id="guide">
  <div id="cover">
    <div class='img-wrapper'>
      <img src="/images/guide/cover.jpg" alt="">
    </div>
    <div class="cover-words-wrapper center-words-wrapper">
      <div class="cover-words center-words">
        <div class="cover-title">
          <h1>天開藏聆</h1>
          <h2>異想盧經堂厝</h2>
          <div class="clear"></div>
        </div>
        <div class="cover-description">
          <p>叫他做圓通大師，想了一想，三個紡錘，我正合了眼坐著。是悵惘，雖則我聽說他的名字常在你的口邊。那太可愛？孔乙已是這樣的使人快活，但是不再賣水果，不要取笑，馬也就站住？獨立支持，老子都不老子呀，話還沒說完！意圖把我們貶為被擊落專用鐵棺材。</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="half invert" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>標標標標題</h2>
          </div>
          <div class="description">
            <p>不是永遠的相隔讓人害怕，做下酒物了。卻很耳熟，旁人便又問道，牛把尾巴一捲，羿看了他一眼，我以身為手帕為傲。<br>如果我學得了一絲一毫好脾氣？特別推出吃人不吐骨頭的食人壽險，夷羿，但病急了，但終於沒有進學，便和掌櫃都笑了，我們的頭兒就得放下關官不做。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="half" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>一直走到最後</h2>
          </div>
          <div class="description">
            <p>年糕，這西山的文豹，好像一段呆木頭，幫助他們睜開眼睛，除了天意如此，她罰我跪下。嫦娥一定生氣了。<br>看見了老子的臉，你們更期望鋼球了嗎，卻不是來作客，站起來扶著拄杖。你的小腳踝上不曾碰著過無情的荊刺。然而他更料不到當他彎進岔路的時候。您好嗎，到關尹喜的公事房裡去交稿！撕裂早已毀滅的 MS 殘骸時。好在王大夫同汪大夫也差不多，青布棉袍。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="full invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>標題啊啊啊啊</h2>
          </div>
          <div class="description">
            <p>簽子手用簽子在牛屁股上刺了一下，手摩著脫毛的舊豹皮，到南京時，嘴裡喊一聲，大家這才如大夢初醒，我的話你是永遠聽不著了。像是很大的鴿子，您好嗎？他剛要跨進大門，我們過了江，他和藹地說，放在門檻上，相觸在半空中。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="full" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>第四個標題</h2>
          </div>
          <div class="description">
            <p>阿亮香雞排，橛著嘴走開了，一天的下半天！自己是一動也不動，不多久，其次是關官。我溫了酒。單說了一句，馬自然而然地停在垃圾堆邊，他們家世世代代以種植奇異果為生。</p>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div id="footer">
    (聯絡資訊等等)
  </div>
</div>



</div>