<div class="demonstration" id="info">
  <div class="row">
    <div class="half" color='1'>    
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3672.6426116023626!2d120.16023200000001!3d23.000166!3m2!1i1024!2i768!4f13.1!2m1!1z5Y-w5Y2X5a6J5bmz55un57aT5aCC5Y-k5Y6d!5e0!3m2!1szh-TW!2stw!4v1425785326332" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
    <div class="half invert map-neighbor" color='1'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>我們在這裡</h2>
          </div>
          <div class="description contact">
            <p>台南市安平區安平路802號<br>（鄰小砲台展演場<br>、開臺天后宮）
            <!-- <br>聯絡電話：(06)2231833 -->
            <br><br>粉絲團： <a href="http://facebook.com/LuMansion">facebook.com/LuMansion</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="row">
    <div class="full invert" color='2'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>入場導覽須知</h2>
          </div>
          <div class="description center balance">
            <p>入場請兌換「古錢導覽券」，<br>每張票券 150 元。</p>
            <p>古錢導覽券可欣賞定目劇導覽；</p>
            <p>亦可抵用消費，如同真的鈔票一樣。</p>
            <p>如果你喜歡我們古錢鈔票的設計，<br>也可改為自己留做紀念唷！</p>
            <p>古錢導覽券限當日使用，<br>請依照券上場次入場觀賞導覽。</p>
            <p>＊消費方式以現場公告為主＊</p>
            <div class="img-wrapper">
              <img src="/images/info/ticket.jpg" alt="" lazy-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="full" color='3'>
      <div class="words-wrapper center-words-wrapper">
        <div class="words center-words">
          <div class="title">
            <h2>溫馨提醒</h2>
          </div>
          <div class="description center balance">
            <p>古蹟內請勿吸菸。</p>
            <p>盧經堂厝建物內<br>禁止飲食及攜帶寵物。</p>
            <p>展場內請勿攝影<br>以及觸碰任何展品。</p>
            <p>導覽中沒有休息時間，<br>建議導覽開始前先如廁。</p>
            <p>進入導覽前，大型行李可洽<br>工作人員處理，食物飲品請放食物櫃。</p>
            <p>展場內各式展品皆可販售，<br>若有興趣歡迎洽詢服務人員。</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div>
      <p ng-repeat="i in footer_items">{{i}}</p>
    </div>
  </div>
</div>



</div>