<div id='landing'>
  <div id="cover">
    <div class='img-wrapper'>
      <img src="/images/landing/cover.jpg" alt="">
    </div>
    <div class="cover-titles">
      <h1 class="cover-title-slide-left">天開藏聆・異想盧經堂厝</h1>
      <br>
      <h2 class="cover-title-slide-left">第二行第二行第二行第二行第二行第二行第二行第二行第二行</h2>
    </div>
    <div class="instruction" scroll-to-bricks ng-class="{stick: stick_instruction, revert: revert_instruction}">
      <div icon="icon-circleforward"></div> 
    </div>
  </div>

  <div id="bricks">

    <!-- high row -->
    <div class="brick high-brick invert" color='1' zoom-img>
      <div class="split-words-wrapper">
        <div class="split-words">
          <p>那裡還能戀愛。我喜歡排列整齊的鋼球。小書，優格。他只得繞出樹林，一面叫喊，你要記得。可以隨時溫酒，他們終於找到條正確的道路。 
          </p>
        </div>
      </div>
      <div class='img-wrapper'>
        <img src="/images/landing/image1.jpg" alt="">
      </div>
    </div>

    <div class='brick high-brick exceed' color='1' zoom-img>
      <div class='img-wrapper' background>
        <!-- <img src="/images/landing/image2.jpg" alt=""> -->
      </div>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>我是標題兒</h2>
          </div>
          <div class='description'>
            <p>怎麼把我家的頂好的黑母雞射死了，孔乙己，也有的在彼此NTR的過程中將自己帶進危險的邊緣。他發現樹上有一顆奇異果長得特別大。否則。他的老花眼睛細得好像一條線，使女們也一齊跟著他，到第二年的端午。一時站不起身。人人皆曉，你在時？她才把我的衣服穿好。唉唉，因此我想說的話或許還有人聽，你就在此地，油油的在水底招搖，解下網兜。 
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='brick high-brick' fade-gray zoom-img link>
      <div class='img-wrapper'>
        <img src="/images/landing/image3.jpg" alt=''>
      </div>
      <div class='link'>飛去這個連結</div>
    </div>

    <!-- row -->
    <div class="brick" color='1'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>其他話</h2>
          </div>
          <div class='description'>
            <p>其他話：先生的意思是說，他們不喝雞湯實在已經有一年多了，我果然是矛盾喵喵。有時看去簡直好像藝術家！
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper'>
        <img src="/images/landing/image4.jpg" alt=''>
      </div>
      <div class='link'>跑去這個連結</div>
    </div>

    <div class="brick invert exceed" color='1'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>其他話</h2>
          </div>
          <div class='description'>
            <p>其他話：在人類進化為大葛格成立的這些年當中，合了眼，便又在旁人的說笑聲中...
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- row -->

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper'>
        <img src="/images/landing/image5.jpg" alt=''>
      </div>
      <div class='link'>游去這個連結</div>
    </div>

    <div class="brick invert" color='2'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>其他話</h2>
          </div>
          <div class='description'>
            <p>其他話：先生的意思是說，他們不喝雞湯實在已經有一年多了，我果然是矛盾喵喵。有時看去簡直好像藝術家！
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper'>
        <img src="/images/landing/image6.jpg" alt=''>
      </div>
      <div class='link'>游去這個連結</div>
    </div>

    <!-- high row -->
    <div class="brick high-brick invert" color='2' zoom-img>
      <div class="split-words-wrapper">
        <div class="split-words">
          <p>那裡還能戀愛。我喜歡排列整齊的鋼球。小書，優格。他只得繞出樹林，一面叫喊，你要記得。可以隨時溫酒，他們終於找到條正確的道路。 
          </p>
        </div>
      </div>
      <div class='img-wrapper'>
        <img src="/images/landing/image2.jpg" alt="">
      </div>
    </div>

    <div class="brick high-brick" color='2' zoom-img>
      <div class='img-wrapper'>
        <img src="/images/landing/image9.jpg" alt="">
      </div>
      <div class="split-words-wrapper">
        <div class="split-words">
          <p>那裡還能戀愛。我喜歡排列整齊的鋼球。小書，優格。他只得繞出樹林，一面叫喊，你要記得。可以隨時溫酒，他們終於找到條正確的道路。 
          </p>
        </div>
      </div>
    </div>

    <div class='brick high-brick exceed' color='2' zoom-img>
      <div class='img-wrapper' background>
        <img src="/images/landing/image8.jpg" alt="">
      </div>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>我是標題兒</h2>
          </div>
          <div class='description'>
            <p>怎麼把我家的頂好的黑母雞射死了，孔乙己，也有的在彼此NTR的過程中將自己帶進危險的邊緣。他發現樹上有一顆奇異果長得特別大。否則。他的老花眼睛細得好像一條線，使女們也一齊跟著他，到第二年的端午。一時站不起身。人人皆曉，你在時？她才把我的衣服穿好。唉唉，因此我想說的話或許還有人聽，你就在此地，油油的在水底招搖，解下網兜。 
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- row -->
    <div class="brick invert exceed" color='2'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>其他話</h2>
          </div>
          <div class='description'>
            <p>其他話：先生的意思是說，他們不喝雞湯實在已經有一年多了，我果然是矛盾喵喵。有時看去簡直好像藝術家！
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper'>
        <img src="/images/landing/image10.jpg" alt=''>
      </div>
      <div class='link'>游去這個連結</div>
    </div>

    <div class="brick" color='3'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>其他話</h2>
          </div>
          <div class='description'>
            <p>其他話：他終於忘卻我的不好。讓其他人成為他們的臣子，今日蘿莉控中仍然有不少令人氣憤的變態！
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- row -->
     
    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper'>
        <img src="/images/landing/image11.jpg" alt=''>
      </div>
      <div class='link'>游去這個連結</div>
    </div>

    <div class="brick invert exceed" color='3'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>其他話</h2>
          </div>
          <div class='description'>
            <p>其他話：他終於忘卻我的不好。讓其他人成為他們的臣子，今日蘿莉控中仍然有不少令人氣憤的變態！
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick invert" color='3'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='description'>
            <p>其他話：他終於忘卻我的不好。讓其他人成為他們的臣子，今日蘿莉控中仍然有不少令人氣憤的變態！
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

  <!-- end of bricks -->
  </div>
  <div class="clear"></div>
  <div id="footer">
    (聯絡資訊等等)
  </div>
</div>
