<div id='landing'>
  <div id="landing-cover">
    <div class='img-wrapper' lazy-bg-image="/images/landing/cover.jpg"></div>
    <div class="cover-titles">
      <h1 class="cover-title-slide-left">天開藏聆・異想盧經堂厝</h1>
      <br>
      <h2 class="cover-title-slide-left">親身體驗日治生活，擁抱純淨樸實，找回古蹟的文化底蘊</h2>
    </div>
    <div class="instruction slide-instruction" stick scroll-to-bricks ng-class="{stick: stick_instruction, revert: revert_instruction}">
      <div icon="icon-circleforward"></div> 
    </div>
  </div>
  <div id="bricks">

    <!-- high row -->
    <div class="brick high-brick invert" color='1' zoom-img>
      <div class="split-words-wrapper">
        <div class="split-words">
          <p>踏入朱紅大門，便如穿梭時空，回到日治初期。盧經堂先生露出笑容，細細訴說盧家的生活點滴......
          </p>
        </div>
      </div>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image1.jpg">
      </div>
    </div>

    <div class='brick high-brick exceed' color='1' zoom-img>
      <div class='img-wrapper' background>
      </div>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>經營簡介</h2>
          </div>
          <div class='description'>
            <p>透過「定目劇導覽」與「伸春餘・食堂文創」，你將能親身體驗日治時期生活的氛圍，品嚐純淨樸實的好味道，並一覽飽含文化底蘊的藝術創作。<br><br>我們希望能融合古蹟的歷史文化，不再只將建築作為營業空殼。因此，一踏入「天開藏聆」，便能感受到日治生活氛圍。食物與文創品也經過嚴格把關，呈現給你最佳品質。 
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='brick high-brick' zoom-img>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image2.jpg">
      </div>
    </div>

    <!-- row -->
    <div class="brick" color='1' ui-sref='guide'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>定目劇導覽</h2>
          </div>
          <div class='description'>
            <p>你將體驗一場「真人實境」的時空之旅！透過戲劇，所有導覽員都化身日治古人，讓你親歷日治時期生活的各個細節。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image3.jpg">
      </div>
      <div class='link' ui-sref='guide'>了解更多定目劇導覽</div>
    </div>

    <div class="brick invert exceed" color='1' ui-sref='menu'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>伸春餘・食堂</h2>
          </div>
          <div class='description'>
            <p>品嚐我們準備的美味餐點，食材水源皆經過精心挑選，讓你體會樸實的感動，回歸人與人最自然純真的關係。</p>
          </div>
        </div>
      </div>
    </div>

    <!-- row -->

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image4.jpg">
      </div>
      <div class='link' ui-sref='menu'>更多食堂餐飲資訊</div>
    </div>

    <div class="brick invert" color='2' ui-sref='art'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>伸春餘・文創品</h2>
          </div>
          <div class='description'>
            <p>我們邀集藝術家與各行業專家，用心創作出溫暖獨特的產品。古蹟終於不再只是營利空殼，更找回了文化深度。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image5.jpg">
      </div>
      <div class='link' ui-sref='art'>更多文創品資訊</div>
    </div>

    <!-- high row -->
    <div class='brick high-brick' color='2' zoom-img>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image6.jpg" background>
      </div>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>盧經堂厝歷史</h2>
          </div>
          <div class='description'>
            <p>盧經堂（1859~1926）一生橫跨臺灣清領時期以及日治時代。早年曾在英國洋行任職，而後自行創業成立「豐源」商號，從事砂糖出口及煤油進口，為當時安平一大富商。盧經堂西化非常早，引入許多日式西式服飾用品，在日治時代亦擔任不少地方要職。<br><br>盧經堂厝約於明治三十五年（1902年）落成，為盧經堂買辦辦事處以及住處。主建物於2014年修復完畢。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick high-brick invert" color='2' zoom-img>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image7.jpg">
      </div>
      <div class="split-words-wrapper">
        <div class="split-words">
          <p>盧經堂厝見證了安平的興衰變遷，我們則融合多種創作元素，打造全新的「異想・盧經堂厝」，除了重現日治生活，更傳達童叟無欺的經商態度。</p>
        </div>
      </div>
    </div>

    <div class="brick high-brick exceed" color='2' zoom-img>
      <div class='title'>
        <h2>關注最新消息</h2>
      </div>
      <div class="fb-like-box" onrender="fbLikeRendered()"
      data-href="https://www.facebook.com/LuMansion" 
      data-height="443" data-colorscheme="light" data-show-faces="true" 
      data-header="false" data-stream="true" data-show-border="false"></div>
    </div>

    <!-- row -->
    <div class="brick exceed invert" color='2' ui-sref='info'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>參觀資訊</h2>
          </div>
          <div class='description'>
            <p>我們在台南市安平路802號，就在小砲台與天后宮旁。<br>門票是日治古鈔樣式，而且可以抵用消費唷！</p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image8.jpg">
      </div>
      <div class='link' ui-sref='info'>深入了解如何參觀</div>
    </div>

    <div class="brick" color='3' ui-sref='about'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>關於我們</h2>
          </div>
          <div class='description'>
            <p>我們是異想電影，希望讓台南文化能在深度和廣度發光發熱。在古拙純樸的建築美學下，引入當代藝術，期望帶給大家美好體驗。</p>
          </div>
        </div>
      </div>
    </div>

    <!-- row -->
     
    <div class="brick" fade-gray zoom-img link>
      <div class='img-wrapper' lazy-bg-image="/images/landing/image9.jpg">
      </div>
      <div class='link' ui-sref='about'>讓你更了解我們</div>
    </div>

    <div class="brick invert exceed" color='3' ui-sref='about'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='title'>
            <h2>天開藏聆</h2>
          </div>
          <div class='description'>
            <p>「天開」，表示天地已開闢了道路，我們不必為眼前條件限制，反當順隨環境因緣，邁出開闊通達的大道。</p>
          </div>
        </div>
      </div>
    </div>

    <div class="brick invert" color='3' ui-sref='about'>
      <div class='overlay-words-wrapper'>
        <div class='overlay-words center-words'>
          <div class='description'>
            <p>「藏聆」，意指盧經堂厝埋藏許多訊息故事，等待我們仔細聆聽。<br><br>我們將呈現清末日治的商人，如何面對環境條件，辛勤踏實工作。並從美食與文化藝術，回歸純真美好。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    <div id="footer">
      <div>
        <p ng-repeat="i in footer_items">{{i}}</p>
      </div>
    </div>
  </div>
  <!-- end of bricks -->
  <div class="clear"></div>
</div>
