<div id="menu">

  <div id="cover">
    <div class='img-wrapper'>
      <img src="/images/menu/cover.jpg" alt="">
    </div>
    <div class="cover-words-wrapper center-words-wrapper">
      <div class="cover-words center-words">
        <div class="cover-title">
          <h1>食堂餐點</h1>
        </div>
        <div class="cover-description">
          <p>叫他做圓通大師，想了一想，三個紡錘，我正合了眼坐著。是悵惘，雖則我聽說他的名字常在你的口邊。那太可愛？孔乙已是這樣的使人快活，但是不再賣水果，不要取笑，馬也就站住？獨立支持，老子都不老子呀，話還沒說完！意圖把我們貶為被擊落專用鐵棺材。</p>
        </div>
      </div>
    </div>
  </div>
  <div id="products">
    <div class="product" ng-repeat='(name, p) in products'
      id='{{name}}'
      index='{{$index}}'
      ui-sref="menu.product({ name: name })">
      <div class="img-wrapper">
        <img ng-src="{{p.url}}" alt="">
      </div>
      <!-- <div class='link' ng-click="shrinkNavbar()" >閱讀設計理念</div> -->
      <div class="words-wrapper">
        <div class="words">
          <div class="title">
            <h2>餐點名稱</h2>
          </div>
          <div class="description">
            <p class="price">4 圓・100 NT$</p>
            <p>餐點簡單描述，如材料。更長更長更長我猜會更長</p>
          </div>
        </div>
      </div>
      <div class="full-display">
        <div class="img-wrapper">
          <img ng-src="{{p.url}}" alt="">
        </div>
        <!-- <div class='link' ng-click="shrinkNavbar()" >閱讀設計理念</div> -->
        <div class="words-wrapper">
          <div class="words">
            <div class="title">
              <h2>餐點名稱</h2>
            </div>
            <div class="description">
              <p class="price">4 圓・100 NT$</p>
              <p>餐點簡單描述，如材料。更長更長更長我猜會更長</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="remaining-space">
      <div id="some-words">
        <a href="#">某句話某句話某句話</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div ui-view view-zoom show-detail="{{fix_scroll}}"></div>
  


</div>